{% extends 'base/base_feed.html' %}

{% block content %}

<!--feed detail-->
<style>
    body { background-color: #d7d8dc; }
    * { box-sizing: border-box; margin: 0; padding: 0; }
    .header {
        background-color: #475d9f;
        color: #fff;
        height: 42px;
        border-bottom: 1px solid #2c3863;
    }
    .btn1 {
        position: absolute;
        left: 0px;
    }
    .search {
        position: absolute;
        left: 50px;
        right: 50px;
    }
    .btn2 {
        position: absolute;
        right: 0px;
    }
    .searchbar {
        border: 1px solid #2c3863;
        background-color: #323f6b;
        width: 80%;
        padding: 6px;
        margin-top: 7px;
        border-radius: 4px;
        color: #fff;
    }

    .container {
        background-color: #d7d8dc;
    }
    .footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        border-top: 1px solid #cccccc;
        background-color: #ffffff;
        height: 50px;
        background-color: #fafafa;
        text-align: center;
    }
    .tab1 {
        float: left;
        width: 25%;
    }
    .tab2 {
        float: left;
        width: 25%;
    }
    .tab3 {
        float: left;
        width: 25%;
    }
    .tab4 {
        float: left;
        width: 25%;
    }

    .feed {
        background-color: #ffffff;
        border-top: 1px solid #c0c0c0;
        border-bottom: 1px solid #c0c0c0;
        padding: 12px;
    }

    .date {
        color: #999;
        margin-bottom: 10px;
    }
    .title {
        color: #6184dddd;
        font-weight: 600;
    }
    .content {
        margin-top: 5px;
    }
    .accessory {
        border-top: 1px solid #eee;
        padding-top:10px;
        margin-top:10px;
        color: #999;
        font-size: 14px;
    }
    .more {
        font-size: 14px;
        color: #6184dddd;
    }
    a {
        color: inherit;
        text-decoration: none;
    }










</style>
<!--end feed detail-->

<!--comment detail-->
<style>
    /* 이 밑으로는 코멘트와 관련된 스타일입니다. */
    /* 이 안에 둘러쌓인 글은 프로그램에 영향을 미치지 않는 메모입니다. */
    .comment_list {
        background-color: #f0f1f4;
        border-bottom: 1px solid #bcbdc3;
        padding-top: 0.1px;
    }

    .comment {
        background-color: #fff;
        border-radius: 30px;
        margin: 15px;
        padding: 15px;
        margin-bottom: 0;
    }

    .comment__date {
        margin: 0 15px;
        padding: 8px 15px;
        padding-bottom: 0px;
        font-size: 13px;
    }

    .name {
        font-weight: bold;
        color: #445994;
    }

    .form-wrapper {
        padding: 15px;
    }
    .user {
            position: absolute;
            right: 100px;
            margin-top: 10px;
    }

    /* 똑같은 스타일을 적용하고 싶으면 ,를 입력해주면 됩니다. */
    .form-wrapper input,
    .form-wrapper textarea {
        border: 1px solid #ddd;
        width: 100%;
        padding: 5px;
        font-size: 14px;
        box-sizing: border-box;
        border-radius: 5px;
        margin-top: 2px;
        margin-bottom: 5px;
    }

    button {
        border: 1px solid #405ea3;
        background-color: #4967ad;
        color: #fff;
        font-weight: 500;
        font-size: 15px;
        padding: 3px 16px;
        border-radius: 2px;
    }
    .help {
    font-size: 14px;
    color: #666;
}





</style>
<!--end comment detail-->

{% include 'base/nav_feed.html' %}

<div class="container">
    <div class="feed">
        <h3 class="name">{{ article.author }}</h3>
        <div class="date">{{ article.created_at }}</div>
        <span class="title">{{ article.title }}</span>
        <p class="content">{{ article.text }}</p>
        <br>
        <div>
            <a href="{% url 'feed_update' article.id %}"><img src="/static/ic_edit.png" height="16px"></a>
            <a id="deleteButton"><img src="/static/ic_delete.png" height="16px">
                <input type="hidden" name="pk" id="pk" value="{{ article.id }}">
            </a>
        </div>
        <div class="accessory">
            {{ article.like.count }}
            <img src="/static/ic_like.jpg" width="16px">
            <input type="hidden" id="like" name="like" value="{{ article.id }}">
            <input type="submit" id="likeButton" value="Like">
            <span class="comments"><img
                src="/static/ic_comment.jpg"
                width="16px"> Comments</span>
        </div>
    </div>
</div>
<!--Comment-->
<div class="comment_list">
    {% for comment in comments %}
    <div class="comment">
        <span class="name">{{ comment.author }} </span>
        {{ comment.text }}
    </div>
    <div class=“comment__date" style="padding-left: 20px;">{{ comment.created_at }}
        <input type="hidden" id="comment_id" name="comment_id" value="{{comment.id}}">
        <a type="submit" id="commentDelete">
            <img src="/static/ic_delete.png" height="16px">
        </a>
    </div>
    {% endfor %}
    <div class="form-wrapper">
        <span>Comments</span>
        <textarea name="text" id="text" name="text" placeholder="코멘트 내용"></textarea>
        <input type="hidden" id="article_id" value="{{article.id}}">
        <button type="submit" id="commentButton">등록</button>
    </div>
</div>

{% include 'base/footer.html' %}

{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
    $('#deleteButton').click(function() {
        $.post('/apis/v1/feed/delete/', {'pk': $('#pk').val()}, function() {
            alert('게시글을 삭제하였습니다.');
            window.location = '{% url 'newsfeed' %}';
        }).fail(function(data) {
            alert(data.responseJSON.message);
        });
});
    $('#commentButton').click(function() {
        $.post('/apis/v1/comment/create/', {'text': $('#text').val(), 'article_id': $('#article_id').val()}, function() {
            alert('댓글을 생성하였습니다.');
            window.location.reload();
        }).fail(function(data) {
            alert(data.responseJSON.message);
        });
});
    $('#commentDelete').click(function() {
        $.post('/apis/v1/comment/delete/', {'comment_id': $('#comment_id').val()}, function() {
            alert('댓글을 삭제하였습니다.');
            window.location.reload();
        }).fail(function(data) {
            alert(data.responseJSON.message);
        });
});
    $('#likeButton').click(function() {
        $.post('/apis/v1/like/', {'like': $('#like').val()}, function() {
            alert('좋아요를 하였습니다.');
            window.location.reload();
        }).fail(function(data) {
            alert(data.responseJSON.message);
        });
});
});

</script>
{% endblock %}